/* .sc-lmoMRL.iqbrwR { */
  .sc-iktFzd.gaGeRK {
    display: inline-block;
    align-items: flex-start;
    margin-left: 10rem;
    background: linear-gradient(45deg, rgba(255, 118, 20, 1), rgba(255, 84, 17, 1));
}

.sc-iktFzd.gaGeRK:nth-child(4n + 1) {
    margin-left: 10rem;
    background: linear-gradient(
      45deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  

  .sc-iktFzd.gaGeRK:nth-child(4n + 2) {
    margin-left: 10rem;
    background: linear-gradient(
      45deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  

  .sc-iktFzd.gaGeRK:nth-child(4n + 3) {
    margin-left: 10rem;
    background: linear-gradient(
      45deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }

  /* .khGBIg > i {
    font-size: 20px;
    margin-right: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
}

span {
    margin-left: 16px;
    justify-content: flex-start;
    align-items: flex-start;
} */

/* .fTbwUB {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
} */