
.contact > p {
    text-align: center;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    padding: initial;
    color: white;
    font-size: xx-large;
    margin-top: 3%;
}

.contactcent {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

