.navbar {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
}
.NavbarItems {
    /* background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%); */
    /* background: linear-gradient(90deg, rgb(28, 95, 196) 0%, rgb(252, 63, 63) 100%); */
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, 100%); */
    background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    
}
.nav-links-home {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
a.nav-links-home {
    margin-left: auto;
}
.nav-links-home:hover { 
    /* background-color: #1a83ff; */
    background-color: #010101;
}

.nav-links-contact {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
a.nav-links-contact {
    margin-left: 1990px;
}
.nav-links-contact:hover { 
    background-color: #010101;
}

.nav-links-logout {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
a.nav-links-logout {
    margin-left: 50px;
}
.nav-links-logout:hover { 
    background-color: #010101;
}
.nav-menu-home {
    background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
} 


.nav-menu-home.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 80px;
}

.nav-text a{
    text-decoration: none;
    /* color: #b61212; */
    color: #ffffff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
} 

.nav-text a:hover { 
    /* background-color: #1a83ff; */
    background-color: #010101;
}

.nav-menu-items {
    width: 100%;
} 

.navbar-toggle {
    /* background-color:  #060b26; */
    background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10%;
} 

span{
    margin-left: 16px;
} 

.fa-bars {
    color: #fff;
    font-size: 2rem;
    margin-right: 2rem;
}
i.fas.fa-bars {
margin-left: -9%;
}

.fa-times {
    color: #fff;
    /* font-size: 2rem; */
    font-size: 2rem;
    margin-left: 800%;
}

.Today,
.Upcoming,
.Projects,
.Favourites,
.Label {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
} 
