<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- react router Dom -->
  <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js" integrity="sha512-NG4Cm3Ubs7d/nPyzrTFM53RP8tPjQhRT0hea48yJ/qEXsuhq7wGbjX68A5gBiW6BoCQbqE3/M+UOj2lLXPauhw==" crossorigin="anonymous"></script> -->

  <!-- react-is -->
  <script crossorigin src="//unpkg.com/react-is/umd/react-is.production.min.js"></script>

  <!--styled components-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/styled-components/5.2.1/styled-components.min.js" integrity="sha512-lzASbW0hyzHBbXLn4vqlR8V9az75mayKbzAfgbFvuzNEqSJ8jW+GAiygwupbhLUp6C+ZaWo1ryS7JYujhXgeww==" crossorigin="anonymous"></script>

  <!--react spring-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react-spring/9.0.0-rc.3/web.cjs.js" integrity="sha512-OZyb1WXjMdC/Ux3RTmvzYCv35jx7RVheCZU2g9P7IJt2phEcANOukRhSnVWvOJ3a7skfV43G8dSxrzpG95N2Fg==" crossorigin="anonymous"></script> -->

  <!-- React DatePicker Dependencies
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.1/prop-types.min.js"></script> -->
   <!-- <script type="text/javascript" src="https://unpkg.com/react-onclickoutside@6.7.1/dist/react-onclickoutside.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-popper/0.10.4/umd/react-popper.js"></script> -->

  <!--React Datepicker-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/3.3.0/react-datepicker.min.js" integrity="sha512-f+CHNNvy5P3yCaZxks2WolxiVx/7q/2UN4LAjIrB/uSA1U0r+HKsLreGaEFUzGFFi3eNyW+fTybRSOqS4CJbww==" crossorigin="anonymous"></script> -->

  <!--React Datepicker CSS-->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/3.3.0/react-datepicker-cssmodules.css" integrity="sha512-7HnzBcx/T7aFsr1nx0I1aqdF9Av8HiehFgyvNUfZmjAf77Hl7JioSL1h35GlfgzcQhVjyRLXKB2siKT6YvOe9w==" crossorigin="anonymous" /> -->
  
  <!-- React datepicker
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-datetime/3.0.0/react-datetime.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/react-datetime/3.0.0/css/react-datetime.min.css" rel="stylesheet" type="text/css"> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" rel="stylesheet" type="text/css"> -->


  <!--React Components-->

  <script src="/static/js/label.jsx" type="text/jsx"></script>
  <script src="/static/js/favourites.jsx" type="text/jsx"></script>
  <!-- <script src="/static/js/todo.jsx" type="text/jsx"></script> -->
  <!-- <script src="/static/js/calendar.jsx" type="text/jsx"></script> -->
  <!-- <script src="/static/js/projectcards.jsx" type="text/jsx"></script> -->
  <script src="/static/js/pastdue.jsx" type="text/jsx"></script>
  <script src="/static/js/upcoming.jsx" type="text/jsx"></script>
  <script src="/static/js/today.jsx" type="text/jsx"></script>
  <script src="/static/js/edittodo.jsx" type="text/jsx"></script>
  <!-- <script src="/static/js/addproject.jsx" type="text/jsx"></script> -->
  <!-- <script src="/static/js/newproject.jsx" type="text/jsx"></script> -->
  <script src="/static/js/mynewtodo.jsx" type="text/jsx"></script>
  <script src="/static/js/homeproj.jsx" type="text/jsx"></script> 
  <script src="/static/js/home.jsx" type="text/jsx"></script> 
  <script src="/static/js/contactus.jsx" type="text/jsx"></script> 
  <script src="/static/js/aboutus.jsx" type="text/jsx"></script> 
  <script src="/static/js/signup.jsx" type="text/jsx"></script> 
  <script src="/static/js/welcome.jsx" type="text/jsx"></script> 
  <script src="/static/js/Appx.jsx" type="text/jsx"></script>
  
  
  
  
  
  
  


  <!-- <link href="/static/css/index.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="/static/css/App.css" rel="stylesheet">
  <link href="/static/css/Button.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <link href="/static/css/signupform.css" rel="stylesheet">
  <link href="/static/css/Navbar.css" rel="stylesheet">
  <link href="/static/css/home.css" rel="stylesheet">
  <link href="/static/css/todo.css" rel="stylesheet">
  <!-- <link href="/static/css/calendar.css" rel="stylesheet"> -->
  <link href="/static/css/aboutus.css" rel="stylesheet">
  <link href="/static/css/cards.css" rel="stylesheet">
  <link href="/static/css/contact.css" rel="stylesheet">

  <!--font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>



</head>
<body>
  <!-- Include the page's content with this block. -->
  {% block body %}
  <!-- Mount your react components on to this element. -->
  <div id="root"></div>
  {% endblock %}

  <!-- Include any page-specific Javascript using this block. -->
  {% block js %}
  {% endblock %}
</body>
</html>